<!-- Wrapper -->
<div id="wrapper">
  <!-- Header -->
  <header id="header" *ngIf="header" [@signal]="signal">
    <div class="logo">
      <span class="astronaut">
        <img src="../../assets/images/astro.png" />
      </span>
    </div>
    <div class="content">
      <div class="inner">
        <h1>GÖKHAN İPEK</h1>
        <p>BLACK HOLES ENTHUSIAST / JAVASCRIPT FAN</p>
      </div>
    </div>
    <nav>
      <ul>
        <li><a (click)="openIntro()"> Intro </a></li>
        <li><a (click)="openBlog()">Blog</a></li>
        <li><a (click)="openContact()">Contact</a></li>
      </ul>
    </nav>
  </header>
  <!-- Main -->
  <div id="main" *ngIf="main">
    <!-- Intro -->
    <div class="articleWrapper" *ngIf="tabIntro" [@signal]="signal">
      <article id="intro">
        <app-intro></app-intro>
        <i class="close" (click)="close()">Close</i>
      </article>
    </div>

    <!-- About -->
    <div class="articleWrapper" *ngIf="tabAbout" [@signal]="signal">
      <article id="about">
        <app-story></app-story>
        <div class="close" (click)="close()">Close</div>
      </article>
    </div>

    <!-- Blog -->
    <div class="articleWrapper" *ngIf="tabBlog" class="blog" [@signal]="signal">
      <article id="blog">
        <app-blog></app-blog>
        <i class="close" (click)="close()">Close</i>
      </article>
    </div>

    <!-- Contact -->
    <div class="articleWrapper" *ngIf="tabContact" [@signal]="signal">
      <article id="contact">
        <app-contact></app-contact>
        <div class="close" (click)="close()">Close</div>
      </article>
    </div>
  </div>

  <!-- Footer -->
  <footer id="footer">
    <p class="copyright">Gokhan Ipek 2019. <a class="hide">Design: HTML5 UP</a>.</p>
  </footer>
</div>

<!-- BG -->
<div class="particles-wrapper">
  <app-particles></app-particles>
</div>
<div id="bg" class="bg"></div>
