{{ signal }}

<!-- Wrapper -->
<div id="wrapper">
  <!-- Header -->
  <header id="header" *ngIf="header" [@signal]="signal">
    <div class="logo">
      <span class="astronaut">
        <img src="../../assets/images/astro.png" />
      </span>
    </div>
    <div class="content">
      <div class="inner">
        <h1>GÖKHAN İPEK</h1>
        <p>BLACK HOLES ENTHUSIAST / JAVASCRIPT FAN / UI/UX DESIGNER</p>
      </div>
    </div>
    <nav>
      <ul>
        <li><a (click)="openIntro()"> Intro </a></li>
        <li><a (click)="openAbout()">Story</a></li>
        <li><a (click)="openBlog()">Blog</a></li>
        <li><a (click)="openContact()">Contact</a></li>
      </ul>
    </nav>
  </header>
  <!-- Main -->
  <div id="main" *ngIf="main">
    <!-- Intro -->
    <div *ngIf="tabIntro" [@signal]="signal">
      <article id="intro">
        <h2 class="major">Intro</h2>
        <span class="image main"><img src="../../assets/images/profile.jpg" alt=""/></span>
        <p>
          Some weird stuff about me, pretending I'm an interesting person
        </p>
        <i class="close" (click)="close()">Close</i>
      </article>
    </div>

    <!-- About -->
    <div *ngIf="tabAbout" [@signal]="signal">
      <article id="about">
        <h2 class="major">Story</h2>
        <span class="image main"><img src="../../assets/images/pic03.jpg" alt=""/></span>
        <p>
          Instagram, Twitter and Stuff
        </p>
        <div class="close" (click)="close()">Close</div>
      </article>
    </div>

    <!-- Blog -->
    <div *ngIf="tabBlog" class="blog" [@signal]="signal">
      <article id="blog">
        <h2 class="major">Blog</h2>
        <span class="image main"><img src="../../assets/images/profile.jpg" alt=""/></span>
        <p>
          Articles and stuff
        </p>
        <i class="close" (click)="close()">Close</i>
      </article>
    </div>

    <!-- Contact -->
    <div *ngIf="tabContact" [@signal]="signal">
      <article id="contact">
        <h2 class="major">Contact</h2>
        <form method="post" action="#">
          <div class="fields">
            <div class="field half">
              <label for="name">Name</label>
              <input type="text" name="name" id="name" />
            </div>
            <div class="field half">
              <label for="email">Email</label>
              <input type="text" name="email" id="email" />
            </div>
            <div class="field">
              <label for="message">Message</label>
              <textarea name="message" id="message" rows="4"></textarea>
            </div>
          </div>
          <ul class="actions">
            <li><input type="submit" value="Send Message" class="primary" /></li>
            <li><input type="reset" value="Reset" /></li>
          </ul>
        </form>
        <ul class="icons">
          <li>
            <a class="icon fa-twitter"><span class="label">Twitter</span></a>
          </li>
          <li>
            <a class="icon fa-facebook"><span class="label">Facebook</span></a>
          </li>
          <li>
            <a class="icon fa-instagram"><span class="label">Instagram</span></a>
          </li>
          <li>
            <a class="icon fa-github"><span class="label">GitHub</span></a>
          </li>
        </ul>
        <div class="close" (click)="close()">Close</div>
      </article>
    </div>
  </div>

  <!-- Footer -->
  <footer id="footer">
    <p class="copyright">Gokhan Ipek 2019. Design: <a>HTML5 UP</a>.</p>
  </footer>
</div>

<div id="particle-canvas" style="position: relative;">
  <div
    style='position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; z-index: 1; background: url("../../assets/images/space-bg.jpeg") center center / cover no-repeat;'
  ></div>
</div>
<!-- BG -->
<div id="bg"></div>
