{{ signal }}

<!-- Wrapper -->
<div id="wrapper">
  <!-- Header -->
  <header id="header" *ngIf="header" [@signal]="signal">
    <div class="logo">
      <span class="astronaut">
        <img src="../../assets/images/astro.png" />
      </span>
    </div>
    <div class="content">
      <div class="inner">
        <h1>GÖKHAN İPEK</h1>
        <p>BLACK HOLES ENTHUSIAST / JAVASCRIPT FAN / UI/UX DESIGNER</p>
      </div>
    </div>
    <nav>
      <ul>
        <li><a (click)="openIntro()"> Intro </a></li>
        <li><a (click)="openAbout()">Story</a></li>
        <li><a (click)="openBlog()">Blog</a></li>
        <li><a (click)="openContact()">Contact</a></li>
      </ul>
    </nav>
  </header>
  <!-- Main -->
  <div id="main" *ngIf="main">
    <!-- Intro -->
    <div *ngIf="tabIntro" [@signal]="signal">
      <article id="intro">
        <app-intro></app-intro>
        <i class="close" (click)="close()">Close</i>
      </article>
    </div>

    <!-- About -->
    <div *ngIf="tabAbout" [@signal]="signal">
      <article id="about">
        <app-story></app-story>
        <div class="close" (click)="close()">Close</div>
      </article>
    </div>

    <!-- Blog -->
    <div *ngIf="tabBlog" class="blog" [@signal]="signal">
      <article id="blog">
        <app-blog></app-blog>
        <i class="close" (click)="close()">Close</i>
      </article>
    </div>

    <!-- Contact -->
    <div *ngIf="tabContact" [@signal]="signal">
      <article id="contact">
        <app-contact></app-contact>
        <div class="close" (click)="close()">Close</div>
      </article>
    </div>
  </div>

  <!-- Footer -->
  <footer id="footer">
    <p class="copyright">Gokhan Ipek 2019. Design: <a>HTML5 UP</a>.</p>
  </footer>
</div>

<div id="particle-canvas" style="position: relative;">
  <div
    style='position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; z-index: 1; background: url("../../assets/images/space-bg.jpeg") center center / cover no-repeat;'
  ></div>
</div>
<!-- BG -->
<div id="bg"></div>
